@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    @apply text-4xl md:text-5xl md:leading-[57.6px] lg:text-[56px] font-aeoBold;
  }

  h2 {
    @apply text-3xl md:text-5xl md:leading-[64.8px];
  }

  h3 {
    @apply text-2xl md:text-[32px] md:leading-[44.8px];
  }

  h5 {
    @apply text-sm md:text-[16px] md:leading-[30.8px];
  }

  p {
    @apply text-base tracking-wider;
  }
}

@layer utilities {
  .myFlex {
    @apply flex items-center;
  }

  .animated-title {
    @apply flex flex-col gap-1;
  }

  .animated-word {
    @apply opacity-0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .floating-nav {
    @apply bg-black rounded-lg border;
  }

  .nav-hover-btn {
    @apply relative ms-10 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 cursor-pointer;
  }

  .myContainer {
    @apply px-[3%] lg:px-[5%] py-10 md:py-16 mx-auto;
  }
}
